include ./header/header
include ./footer/footer
include ./burger/burger
include ./nav/nav
include ./section-first-screen/section-first-screen
include ./section-menu/section-menu
include ./section-news/section-news
include ./section-advantages/section-advantages
include ./section-reviews/section-reviews
include ./section-about/section-about
include ./section-contact/section-contact