mixin nav
  nav.navigation
    ul.navigation__list#menu
      li.navigation__item: a(href="#section-menu") Меню
      li.navigation__item: a(href="#section-news")  Акции и скидки
      li.navigation__item: a(href="#section-about")  Доставка и оплата
      li.navigation__item: a(href="#section-contact") Контакты


