mixin section-contact
    section.section-contact#section-contact
        .container
            .section-contact__wrap
                .section-contact__text Есть вопросы?
                h3.section-contact__title Оставьте свои контакты
                .section-contact__form.form#contact
                    input.form__input(type="text", name="name", placeholder="Имя" required)
                    input.form__input(type="tel", name="name", placeholder="Телефон" required)
                    input.form__submit.btn.btn--accent(type="submit" value="Отправить")
                .section-contact__info Нажимая на кнопку «Отправить», вы даете согласие на обработку своих персональных данных.